.blogThumbnailContainer {
    width: 28%;
    height: 32vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s all ease-out;
}

.blogThumbnailContentContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    
}

.blogThumbnailContainer:hover {
    scale: 1.2;
    transition: 0.2s all ease-out;
}

.blogThumbnailTitle {
    margin-top: 12vh;
    color: var(--secondaryColor);
    font-family: "Poppins";
    font-size: 2vw;
}

@media only screen and (max-width: 480px) {
    .blogThumbnailContainer {
        width: 80%;
        margin: 0;
    }
    .blogThumbnailTitle {
        font-size: 8vw;
    }
}